# xcode noise
build
TapkuLibrary/build/**
TapkuLibraryDemo/build/**
*.pbxuser
*.perspectivev3
*.mode1v3

# old skool
.svn
.cvs

# osx noise
.DS_Store
#profile
src/TapkuLibrary.xcodeproj/xcuserdata/devinross14.xcuserdatad/xcschemes/TapkuLibrary.xcscheme

src/TapkuLibrary.xcodeproj/project.xcworkspace/xcuserdata/devinross14.xcuserdatad/UserInterfaceState.xcuserstate
