<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.tapku.tapku</string>
	<key>CFBundleName</key>
	<string>tapku Documentation</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	
	
	
	
	<key>DocSetFeedName</key>
	<string>tapku Documentation</string>
	
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	
	<key>DocSetPublisherIdentifier</key>
	<string>com.tapku.documentation</string>
	<key>DocSetPublisherName</key>
	<string>Tapku Library</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Tapku Library. All rights reserved.</string>
</dict>
</plist>
